nav{
    flex-direction: column;
}
nav ul{
    margin: 4px auto;
}
.leftSection{
    font-size: 1rem;
    margin: 1px;
}
.rightSection{
    position: relative;
    top: -90vw;
}
.rightSection img {
    width: 50vw;
    margin: -46px;
}
.project2{
    width: 87vw;
}
.project3{
    width: 87vw;
}